doctype html
html(lan="eng")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="theme-color" content="#212529")
		title Back Home - #{active} 
		link(rel="icon" type="image/png" href="/static/favicon.png")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="manifest" href="/static/manifest.json")
	body
		nav
			.nav-wrapper
				a(href="/" class="brand-logo") Logo
				ul(id="nav-mobile" class="right hide-on-med-and-down")
					li
						a(href="/")
							i(class="material-icons") build
