include ./head.pug

.container
	.row
		h2 Please sign in
		form(class="col s12" action="/login" method="post")
			.row
				.input-field.col.s12
					i(class="material-icons prefix") account_circle
					input(id="inputUsername" class="validate" type="text" required="" name="username")
					label(for="inputUsername") Username
			.row
				.input-field.col.s12
					i(class="material-icons prefix") lock
					input(id="inputPassword" class="validate" type="password" placeholder="Password" required="" name="password")
					label(for="inputPassword") Password
			.row
				.col.s2.offset-s10
					button(class="btn btn-large waves-effect waves-light" type="submit")
						i(class="material-icons right") send

include ./footer.pug
